.isdone-view {
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
    background-color: #f3f4f6;
    padding: 15px;
}

.isdone-view-button {
    background-color: #f3f4f6;
}

.istodo-view {
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
    background-color: white;
    padding: 15px;
}