.section-header-todo {
    background: linear-gradient(90deg, #84c5f4, #a0d8f1);
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    text-align: center;
}

.section-header-done {
    background: linear-gradient(90deg, #8b9ca7, #afd9ec);
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    text-align: center;
}
