<div class="container">

    <!-- Show tasks-->
    <div class="fixed-grid has-2-cols">
        <div class="grid">
            <div class="cell">
                <section class="hero is-small is-info">
                    <div class="hero-body">
                        <p class="title">TODO</p>
                    </div>
                </section>
                <div class="fixed-grid has-1-cols">
                    <div class="cell" *ngFor="let taskCard of taskCardList.todo">
                        <app-task-card [mode]="'todo_view'" [taskCardData]="taskCard"></app-task-card>
                    </div>
                </div>
            </div>
            <div class="cell">
                <section class="hero is-small is-success">
                    <div class="hero-body">
                        <p class="title">DONE</p>
                    </div>
                </section>
                <div class="fixed-grid has-1-cols">
                    <div class="cell" *ngFor="let taskCard of taskCardList.done">
                        <app-task-card [mode]="'done_view'" [taskCardData]="taskCard"></app-task-card>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <button class="button" (click)="openAddTaskDialog()">Add Task</button>
</div>