<div class="container">

    <!-- Show tasks-->
    <div class="fixed-grid has-2-cols">
        <div class="grid">
            <!-- Todo View-->
            <div class="cell">
                <section class="hero is-small section-header-todo">
                    <div class="hero-body">
                        <p class="title is-size-6">TODO</p>
                    </div>
                </section>
                <div class="fixed-grid has-1-cols">
                    <div class="section-scrollable">
                        <div class="cell p-1" *ngFor="let taskCard of taskCardList.todo">
                            <app-task [mode]=TaskCardMode.VIEW_TODO [taskViewData]="taskCard"></app-task>
                        </div>
                    </div>
                    <div class="cell p-1">
                        <button class="button" (click)="openAddTaskDialog()">Add Task</button>
                    </div>
                </div>
            </div>
            <!-- Done View-->
            <div class="cell">
                <section class="hero is-small section-header-done">
                    <div class="hero-body">
                        <p class="title is-size-6">DONE</p>
                    </div>
                </section>
                <div class="fixed-grid has-1-cols">
                    <div class="section-scrollable">
                        <div class="cell p-1" *ngFor="let taskCard of taskCardList.done">
                            <app-task [mode]=TaskCardMode.VIEW_DONE [taskViewData]="taskCard"></app-task>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>