<div class="card">
    <header class="card-header">
        <p class="card-header-title">{{taskCardData.taskName}}</p>
        <button class="card-header-icon" aria-label="more options">
            <span class="icon">
                <i class="fas fa-angle-down" aria-hidden="true"></i>
            </span>
        </button>
    </header>
    <div class="card-content">
        <div class="content">
            {{taskCardData.description}}
        </div>
    </div>
    <ng-container *ngIf="mode === 'todo_view'">
        <footer class="card-footer">
            <a href="#" class="card-footer-item">Done</a>
            <a href="#" class="card-footer-item">Edit</a>
            <a href="#" class="card-footer-item">Delete</a>
        </footer>
    </ng-container>
    <ng-container *ngIf="mode === 'edit'">
        <footer class="card-footer">
            <a href="#" class="card-footer-item">Save</a>
            <a href="#" class="card-footer-item">Cancel</a>
        </footer>
    </ng-container>
    <ng-container *ngIf="mode === 'done_view'">
        <footer class="card-footer">
            <a href="#" class="card-footer-item">Mark as TODO</a>
        </footer>
    </ng-container>

</div>